.playerItem {
    margin: auto;
    border-radius: 15px;
    background-color: rgba(186, 160, 208, 0.13);
    display: flex;
    flex-direction: column;
    width: 180px;
    padding: 10px;
}

.playerItem p {
    margin: 3px;
    font-size: x-large;
}

.playerItem a {
    text-decoration: none;
}