.footer {
  display: flex;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  height: 60px;
  padding-top: 10px;
}

.footerIcons {
  align-items: flex-end;
  /* display: inline-block; */
  justify-content: space-around;
  margin-right: 20px;
}

.footerH3 {
  margin-right: auto;
  margin-left: 30px;
  padding: 10px;
}

.footerFontAwesome {
  margin-left: 20px;
}
