.groupItem {
    border-radius: 15px;
    width: 300px;
    background-color: black;
    margin: 20px;
    height: 300px;
    padding: 10px;

}

.groupItem a {
    text-decoration: none;
}

.groupName {
    text-align: center;
    color: #72ffd4;
    text-shadow: 0 0 7px #5fffec,
    0 0 10px rgba(95, 255, 255, 0.45),
    0 0 21px rgba(0, 255, 255, 0.35);
}