.playersList {
    margin: 150px auto 100px auto;
    height: 800px;
    width: 400px;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 25px;
    box-shadow: -25px 25px 60px -25px rgba(255, 0, 191, 0.30),
    25px -25px 60px -25px rgba(46, 208, 255, 0.3);
}

