.oauth-container {
  text-transform: none;
}
.left {
  margin-top: 7px;
  margin-right: 8px;
}

.sign-up-text-forms {
  height: 370px;
  position: relative;
  width: 648px;
}

.cta {
  background-color: var(--te-papa-green);
  border-radius: 5px;
  cursor: pointer;
  height: 44px;
  left: 0;
  position: absolute;
  top: 326px;
  width: 111px;
}

.sign-up {
  color: var(--white);
  font-family: var(--font-family-lato);
  font-size: var(--font-size-l2);
  left: 22px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
  width: 68px;
}

.text-form-confi-password-tablet {
  border-radius: 5px;
  height: 44px;
  left: 344px;
  position: absolute;
  top: 222px;
  width: 304px;
}

.text-confirm-password {
  background-color: transparent;
  border: 0;
  font-weight: 300;
  height: 30px;
  left: 19px;
  letter-spacing: 0;
  line-height: 24px;
  padding: 0;
  position: relative;
  top: 7px;
  width: 266px;
}

.text-confirm-password::placeholder {
  color: #00000099;
}

.confirm-password {
  left: 344px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 188px;
  white-space: nowrap;
}

.text-form-password-tablet {
  border-radius: 5px;
  height: 44px;
  left: 0;
  position: absolute;
  top: 222px;
  width: 304px;
}

.text-password {
  background-color: transparent;
  border: 0;
  font-weight: 300;
  height: 30px;
  left: 17px;
  letter-spacing: 0;
  line-height: 24px;
  padding: 0;
  position: relative;
  top: 7px;
  width: 273px;
}

.text-password::placeholder {
  color: #00000099;
}

.password {
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 188px;
  white-space: nowrap;
}

.text-form-email-tablet {
  border-radius: 5px;
  height: 44px;
  left: 344px;
  position: absolute;
  top: 114px;
  width: 304px;
}

.text-andrea-bakergmailcom {
  background-color: transparent;
  border: 0;
  font-weight: 300;
  height: 30px;
  left: 19px;
  letter-spacing: 0;
  line-height: 24px;
  padding: 0;
  position: relative;
  top: 7px;
  width: 271px;
}

.text-andrea-bakergmailcom::placeholder {
  color: #00000099;
}

.email-address {
  left: 344px;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 80px;
  white-space: nowrap;
}

.text-form-name-tablet {
  border-radius: 5px;
  height: 44px;
  left: 0;
  position: absolute;
  top: 114px;
  width: 304px;
}

.text-andrea-baker {
  background-color: transparent;
  border: 0;
  font-weight: 300;
  height: 30px;
  left: 16px;
  letter-spacing: 0;
  line-height: 24px;
  padding: 0;
  position: relative;
  top: 7px;
  width: 275px;
}

.text-andrea-baker::placeholder {
  color: #00000099;
}

.place {
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 80px;
  white-space: nowrap;
}

.text-1 {
  color: var(--black);
  font-family: var(--font-family-castoro);
  font-size: var(--font-size-xxxxl2);
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');

@import url('https://fonts.googleapis.com/css?family=Caveat:400|Lato:400,300|Castoro:400|Mulish:400');

input:focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

/* Google Button */
.login-with-google-btn {
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
.login-with-google-btn:hover {
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.login-with-google-btn:active {
  background-color: #eeeeee;
}
.login-with-google-btn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}
.login-with-google-btn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

body {
  text-align: center;
  padding-top: 2rem;
}
