* {
    font-family: 'Roboto', sans-serif;
}

li, Link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #01012b;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 0;
    margin-left: 0;
}

/* .logo {
    cursor: pointer;
    margin-right: auto;
    margin-left: 0px;
    width: 200px;


} */

h1 {
    cursor: pointer;
    margin-right: auto;
    margin-left: 30px;
    width: 200px;
   

}

.link {
    text-decoration: none;
}

.navLinks {
    list-style: none;
}

.navLinks li {
    display: inline-block;
    padding: 0px 20px;

}

.navLinksForEntry {
    transition: all 0.3s ease 0s;
    text-decoration: none;

}

.navLinksForEntry:hover {
    color: #0088a9;
}
